.article_list--head {
    margin: 0px;
    margin-top: 5%;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
    font-weight: bolder;
}

.article_list--main {
    margin: 0px;
    margin-top: 1%;
    padding-bottom: 40px;
}

.article_list--list {
    margin: 0px;
    padding-inline-start: 0px;
    font-size: 20px;
    list-style:none;
}

.article_list--uncheckButton {
    margin: 5px;
    width: 24px;
    height: 24px;
    background-color: rgb(0, 130, 0);
    border: none;
    color: white;
    padding: 3px 4px;
    font-size: 16px;
    cursor: pointer;
}

.article_list--uncheckButton:hover {
    background-color: rgb(0, 80, 0);
}

.article_list--removeButton {
    margin: 5px;
    width: 24px;
    height: 24px;
    background-color: rgb(250, 0, 0);
    border: none;
    color: white;
    padding: 3px 4px;
    font-size: 16px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.fa {
    padding: 1px;
}

.article_list--removeButton:hover {
    background-color: rgb(200, 0, 0);
}

.taskDone {
    text-decoration: line-through;
}