.article_addNew--head {
    margin: 0px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 24px;
    font-weight: bolder;
}

.article_addNew--main {
    margin: 0;
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
}

.article_addNew--input {
    margin: 4px;
    padding: 8px;
    flex-grow: 4;
}

.article_addNew--button {
    margin: 4px;
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    font-size: 16px;
    cursor: pointer;
    flex-grow: 1;
}

