.list {
    background-color: white;
    margin: 1px;
    margin-top: 10px;
}

.list__head {
    font-size: 18pt;
    font-weight: 700;
    padding: 15px;
    margin-bottom: 0;
    border-bottom: 2px solid whitesmoke;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list__main {
    font-size: 14pt;
    padding: 15px;
}

.list__head--title {
    margin: 0%;
    padding-inline-start: 0px;
    list-style:none;
}

.list__head--buttons {
    justify-self: flex-end;
}

.list__head--buttons--button {
    border: none;
    background: none;
    color: teal;
    font-size: 14pt;
}

.list__head--buttons--button:hover {
    color: rgb(0, 168, 160);
}

.list__head--buttons--button:active {
    color: rgb(2, 206, 196);
}

.list__head--buttons--button--disabled {
    border: none;
    background: none;
    color: lightgray;
    font-size: 14pt;
}

.list__item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    gap: 15px;
    border-bottom: 2px solid whitesmoke;
}

.list__uncheckedButton {
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 130, 0);
    border: none;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.list__uncheckedButton:hover {
    background-color: rgb(0, 80, 0);
}

.list__removeButton {
    margin: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(250, 0, 0);
    border: none;
    color: white;
    font-weight: 700;
    text-decoration: none;
    justify-self: end;;
}

.list__removeButton:hover {
    background-color: rgb(200, 0, 0);
}

.taskCrossed {
    text-decoration: line-through;
}

