html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    margin: auto;
    padding: 50px;
    max-width: 1000px;
    background-color: whitesmoke;
    display: grid;
    justify-content: stretch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}