html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
padding: 5%;

background-color: whitesmoke;

display: grid;
justify-content: stretch;


font-family: Arial, Helvetica, sans-serif;
}

.taskDone {
    text-decoration: line-through;
}