html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
width: 100%;
padding: 5% 10% 5% 10%;
background-color: whitesmoke;

display: grid;
justify-content: stretch;

font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

